body {
    font-family: 'Roboto', sans-serif;
}
h1{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight:500;
    font-size: 30pt;
    padding-top:20px;
    padding-left:20px;
}

@font-face{
    font-family: 'Roboto', sans-serif;
    src: url('/fonts/Roboto-Regular.ttf')  format('ttf');
    
}

