/* carousel */
section .cards .carousel{
  background: rgb(189, 189, 243);
}
.carousel {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  margin: auto;
 
}


.carousel-item {
  flex-shrink: 0;
  width: 100%;
  scroll-snap-align: start;
  display: flex;
  border-radius: 15px;
}


.carousel-content {
  margin-top: 50px;
  flex: 1;
  padding: 20px;
  color: #ffffff;;
  text-align: left;
}

/* Adjust text styles */
.carousel-title {
  font-size: 36px;
  margin-bottom: 5px;
  text-align: left;
  color: #ffffff;
}

.carousel-subtitle {
  font-size: 18px;
  text-align: left;
  color: #ffffff;
}

.carousel-paragraph {
  font-size: 20px;
  margin-bottom: 15px;
}

.carousel-button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.front-end .carousel-button {
  background-color: white;
  color: #efae82;
}

.front-end{
  background-color: #efae82;
}
.front-end img{
  display: block;

}
.motion .carousel-button {
  background-color:white;
  color: #d27f94;
}


.motion{
  background-color: #f392c9;
}
.motion img{
  padding-top:20px;
  max-width:250px;
}
.graphic .carousel-button {
  background-color:white;
  color: #9ce0a3;
}

.graphic{
  background-color: #9ce0a3;
}


.carousel img {
  flex-shrink: 0;
  border-radius: 10px;
  height: 300px; 
  object-fit: cover; 
  margin-right: 20px;
  align-items: center;
}


.carousel:hover .carousel-item:not(:hover) {
  transform: scale(0.8);
}


  .mobile .carousel-content h2{
    font-size: 16pt;
  }
 .mobile .carousel-content h3{
    font-size:12pt;
  }
  .mobile .carousel-content p {
    font-size: 8pt;

   }
   .mobile .carousel-content a {
    font-size: 10pt;


   }
.mobile .carousel-button{
  margin-left:100px;
  margin-top:20px;
}
.mobile .carousel-content img{
  max-width: 300px;
  display: block;
}
 .mobile .carousel-item {
border-radius: 0;
padding-top: 0;

 }
 .mobile .carousel-content{
margin-top:0;

 }
 .mobile .carousel-item .graphic img{
  max-width: 300px;
 }