/* carousel */

.carousel {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  margin: auto;
 
}


.carousel-item {
  flex-shrink: 0;
  width: 100%;
  scroll-snap-align: start;
  display: flex;
  border-radius: 15px;
}


.carousel-content {
  margin-top: 50px;
  flex: 1;
  padding: 20px;
  color: #ffffff;;
  text-align: left;
}

/* Adjust text styles */

.carousel-title {
  font-size: 36px;
  margin-bottom: 5px;
  text-align: left;
  color: #ffffff;
}

.carousel-subtitle {
  font-size: 18px;
  text-align: left;
  color: #ffffff;
}

.carousel-paragraph {
  font-size: 20px;
  margin-bottom: 15px;
}

.carousel-button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.front-end .carousel-button {
  background-color: white;
  color: #faceb0;
}

.front-end{
  background-color: #faceb0;
}
.front-end img{
  display: block;

}
.motion .carousel-button {
  background-color:white;
  color: #c2bfea;
}


.motion{
  background-color: #c2bfea;
}
.motion img{
  padding-top:20px;
  max-width:250px;
}
.graphic .carousel-button {
  background-color:white;
  color: #617864;
}

.graphic{
  background-color: #b6ddba;
}


.carousel img {
  flex-shrink: 0;
  border-radius: 10px;
  height: 300px; 
  object-fit: cover; 
  margin-right: 20px;
  align-items: center;
}


