footer li{
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
       }
footer ul{
    display:inline-block;
    align-items:flex-end;}

       footer ul li a {
text-decoration: none;
padding-left: 10px;
color:#9898FC;

       }
footer{
    background:#744B60;
}