form{
    background-color:#9898FC;
    max-width:500px;
}
button {
    background-color:#342fc7 ;
}

form input{
    padding-right: 40px;
    padding-top:10px;
    padding-bottom: 10px;
    padding-left: 15px;
    font-size: 14pt;
    margin-left: 0;
}