



.about p{
    color: #b5c2d0;
    font-size: 12pt;
    text-align: left;

}

.title h1{
    color:#b5c2d0;
    text-align: center;
}
.about-me li {
    color: #b5c2d0;
    font-size: 12pt;
    text-align: left;

}
.about-me h2{
color: #b5c2d0;
text-align: left;
}
.about-me h3{
    color: #b5c2d0;
    text-align: left;
}
#portrait img {
    max-width:300px;
}