.gallery img{
max-width: 780px;
}

.gallery img:hover{
scale:110%;
transition: ease-in 0.7s;
}
.mobile .gallery img{
padding-bottom: 20px;
border-radius: 5px;
}
 .front-end-background{
    background:#EFAE82;
    color: #F8E8A5;
    height: 200px;
    padding-top: 10px;
    display:block;
}
.front-end-background h2{
    color: #F8E8A5;
    font-size: 28pt;
    position: relative;
}
.gear{
padding-top:0px;
margin-top:0px;
width:40px;
}

 .front-end-background img{
    max-width: 30px;
    display:block;
    margin-left: 5px;
 margin-bottom: 25px;
 display: block;

}
.gallery-header {
    color: #DDFFC9;
    font-size: 24pt;
}
.motion-background{
    background: #f392c9;
    height: 140px;
    padding-top: 10px;
    display:block;
    margin: 0;
}
.motion-background h2{
color: #EFE3EA;
font-size: 26pt;

}

.gallery .desktop img{
display: inline-block
max-width 600px;
margin-bottom: 50px;
}
.gallery .xldesktop img{
    display: inline-block
    max-width 600px;
    margin-bottom: 50px;
    }
.double-photo img {
    max-width: 600px;
}
.graphic-background{
    background: #9ce0a3;
    height: 140px;
    padding-top: 10px;
    display:block;
}
.graphic-background h2{
    color: #daf1dc;
    font-size: 32pt;
}
