.gallery img{
max-width: 780px;
}

.gallery img:hover{
scale:110%;
transition: ease-in 0.7s;
}
.mobile .gallery img{
padding-bottom: 20px;
border-radius: 5px;
}
 .front-end-background{
    background:#EFAE82;
    color: #F8E8A5;
    height:fit-content;
    padding-top: 10px;
    display:block;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
}
.front-end-background h2{
    color: #F8E8A5;
    font-size: 28pt;
    margin-top:0px;
    margin-bottom: 0px;
}

.gear{
    display:block;
}

#gear1 {
max-width:5%;
padding-bottom: 0px;
margin: 0px;

}

#gear2 {
 max-width:5%;
 padding-top: 0px;
 margin-top: 0px;
 margin-left:95%;

}

.gallery-header {
    color: #DDFFC9;
    font-size: 24pt;
}
.motion-background{
    background: #f392c9;
    height: fit-content;
    padding-top: 10px;
    display:block;
    margin: 0;
}
.motion-background h2{
color: #EFE3EA;
font-size: 28pt;
margin-top:0px;
margin-bottom: 0px;
}
.clapper{
    display:block;
    
}

#clapper1{
max-width:4%;
padding-bottom: 0px;
margin: 5px;
rotate: 350deg;


}

#clapper2 {
 max-width:4%;
 padding-top: 0px;
 margin-top: 0px;
 margin-left:95%;
 padding-bottom:10px;
 transform:scale(-1,1) rotate(350deg);

}

.gallery .desktop img{
display: inline-block
max-width 600px;
margin-bottom: 50px;
}
.gallery .xldesktop img{
    display: inline-block
    max-width 600px;
    margin-bottom: 50px;
    }
.double-photo img {
    max-width: 600px;
}
.graphic-background{
    background: #9ce0a3;
    height: 140px;
    padding-top: 10px;
    display:block;
}
.graphic-background h2{
    color: #daf1dc;
    font-size: 32pt;
}
