.gallery img{
max-width: 780px;
}

.gallery img:hover{
scale:110%;
transition: ease-in 0.7s;
}
.mobile .gallery img{
padding-bottom: 20px;
border-radius: 5px;
}
 .front-end-background{
    background:#EFAE82;
    color: #F8E8A5;
    height: 140px;
    padding-top: 10px;
    display:block;
}
.front-end-background h2{
    color: #F8E8A5;
}

 .front-end-background img{
    max-width: 30px;
    display:block;
    margin-left: 5px;
 margin-bottom: 25px;
 display: block;

}
.gallery-header {
    color: #DDFFC9;
}