.hidden{
    display: none;
}
.hero {
    //background-image: url(/img/hero.jpg);
    height: 700px;
    display: block;
    margin-top: -58px;
    background-image: url(/img/gradient.svg);
    background-size:cover;
    
  }
  @media screen and (max-width: 768px) {
    .hero{
    background-image: url(/img/hero-mobile.jpg);
    height: 500px;
    display: block;
    margin-top: -40px;
    }
  }
  .hero h1 p{
    text-align: left;

  }
  body{
    background-color: #F9F4F0;
    margin: 0px;
    padding: 0px;
  }

.button a {
text-decoration: none;
color:#F9F4F0;
background-color:#744B60 ;
border-radius: 25px;
padding: 15px;

}
.button{
  padding-top: 30px;
  align-items: center;
}
.button:hover{
    scale:110%;
    transition: ease-in 0.2s;
}
.form-intro {
    color:#F9F4F0;
    text-align: left;
    margin-left: 30px;
}

.heading {
  color:#b5c2d0;
}